0.0.0_glycoprotein-snapshots
10.0.10_glycoprotein-snapshots
1.0.1_glycoprotein-snapshots
11.0.11_glycoprotein-snapshots
12.0.12_glycoprotein-snapshots
13.0.13_glycoprotein-snapshots
14.0.14_glycoprotein-snapshots
15.0.15_glycoprotein-snapshots
16.0.16_glycoprotein-snapshots
17.0.17_glycoprotein-snapshots
18.0.18_glycoprotein-snapshots
19.0.19_glycoprotein-snapshots
20.0.20_glycoprotein-snapshots
2.0.2_glycoprotein-snapshots
21.0.21_glycoprotein-snapshots
22.0.22_glycoprotein-snapshots
23.0.23_glycoprotein-snapshots
24.0.24_glycoprotein-snapshots
25.0.25_glycoprotein-snapshots
26.0.26_glycoprotein-snapshots
27.0.27_glycoprotein-snapshots
28.0.28_glycoprotein-snapshots
29.0.29_glycoprotein-snapshots
30.0.30_glycoprotein-snapshots
3.0.3_glycoprotein-snapshots
31.0.31_glycoprotein-snapshots
32.0.32_glycoprotein-snapshots
33.0.33_glycoprotein-snapshots
34.0.34_glycoprotein-snapshots
35.0.35_glycoprotein-snapshots
36.0.36_glycoprotein-snapshots
37.0.37_glycoprotein-snapshots
38.0.38_glycoprotein-snapshots
39.0.39_glycoprotein-snapshots
40.0.40_glycoprotein-snapshots
4.0.4_glycoprotein-snapshots
41.0.41_glycoprotein-snapshots
42.0.42_glycoprotein-snapshots
43.0.43_glycoprotein-snapshots
44.0.44_glycoprotein-snapshots
45.0.45_glycoprotein-snapshots
46.0.46_glycoprotein-snapshots
47.0.47_glycoprotein-snapshots
48.0.48_glycoprotein-snapshots
49.0.49_glycoprotein-snapshots
5.0.5_glycoprotein-snapshots
6.0.6_glycoprotein-snapshots
7.0.7_glycoprotein-snapshots
8.0.8_glycoprotein-snapshots
9.0.9_glycoprotein-snapshots
